<div class="col-md-4" *ngFor="let tarea of tareas">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{tarea.nombre}}
            <button class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="tarea.imagen" class="card-img-top" alt="">
        <div class="card-body">
            <p>{{tarea.descripcion}}</p>
            <a href="" class="btn btn-info btn-block">
                Editar tarea
            </a>
        </div>
    </div>
</div>